@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'animations';

@import 'blocks/page-body';
@import 'blocks/page-header';
@import 'blocks/main-nav';
@import 'blocks/page-footer';
@import 'blocks/intro';
@import 'blocks/download-info';

@import 'blocks/slogan';
@import 'blocks/features';
@import 'blocks/effect';

@import 'blocks/reviews';
@import 'blocks/pricing';
@import 'blocks/pricing-table';
@import 'blocks/footer-map';
@import 'blocks/social-links';
@import 'blocks/contest-form';
@import 'blocks/users-gallery';
@import 'blocks/photos-item';
@import 'blocks/user-interface';
@import 'blocks/contacts';
@import 'blocks/visually-hidden';

@font-face {
  font-weight: normal;
  font-family: 'Open Sans Light';
  font-style: normal;

  src: url('../fonts/opensanslight.woff') format('woff'),
  url('../fonts/opensanslight.woff2') format('woff2');
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  font-style: normal;

  src: url('../fonts/opensans.woff') format('woff'),
  url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans Bold';
  font-style: normal;

  src: url('../fonts/opensansbold.woff') format('woff'),
  url('../fonts/opensansbold.woff2') format('woff2');
}

