.download-info {
  color: #FFFFFF;

  @media ($tablet-width) {
    width: 300px;
  }

  @media ($desktop-width) {
    width: 300px;
  }
}

.download-info__btn {
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 18px 33px;

  font-family: 'Open Sans Bold','Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border: 3px solid #FFFFFF;
  border-radius: 50px;

  @media ($tablet-width) {
    margin-bottom: 60px;
  }

  @media ($desktop-width) {
    font-size: 21px;
    padding: 18px 20px;
  }

  &:hover {
    color: $pink;
    background-color: #FFFFFF;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #FFFFFF;
  }
}

.download-info__links {
  @include no-list;
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 230px;
  margin-bottom: 30px;

  @media ($tablet-width) {
    margin-bottom: 40px;
  }

  @media ($desktop-width) {
    margin-bottom: 55px;
  }
}

.download-info__icons {
  display: inline-block;
  margin-right: 32px;
}

.download-info__icons:last-child {
  margin-right: 0;
}

.download-info__link {
  display: inline-block;
  width: 55px;
  height: 55px;
  font-size: 0;

  &--apple {
    background: url(../../img/logo-apple.svg) no-repeat 50% 50%;
  }

  &--android {
    background: url(../../img/logo-android.svg) no-repeat 50% 50%;
  }

  &--windows {
    background: url(../../img/logo-microsoft.svg) no-repeat 50% 50%;
  }
}

.download-info__heading {
  display: none;
  margin: 0;

  @media ($tablet-width) {
    display: block;
    margin: 0 40px;
    margin-top: 105px;
    margin-bottom: 30px;

    font-family: 'Open Sans Light','Arial', sans-serif;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }

  @media ($desktop-width) {
    display: block;
    margin-top: 125px;
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
}

.download-info__description {
  margin: 0;

  font-family: 'Open Sans Light','Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media ($tablet-width) {
    font-size: 18px;
  }
}
