.effect {
  display: none;

  @media ($tablet-width) {
    display: block;
    padding-top: 80px;
    padding-bottom: 70px;

    background-color: #FFFFFF;
  }

  @media ($desktop-width) {
    padding-top: 128px;
    padding-bottom: 118px;

    background-color: $light-grey;
  }
}

.effect__wrapper {
  @include container-fluid;
}

.effect__content {
  padding-left: 310px;
  position: relative;

  @media ($desktop-width) {
    padding-left: 370px;
    position: relative;
  }
}

.effect__content::before {
  @media ($tablet-width) {
    content: '';
    position: absolute;
    width: 240px;
    height: 275px;
    left: 0;
    top: -70px;

    background-image: url(../../img/icon-timer.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media ($desktop-width) {
    left: 0;
    top: -100px;
    width: 301px;
    height: 345px;
  }
}

.effect__content::after {
  @media ($tablet-width) {
    content: '24';
    position: absolute;
    width: 173px;
    height: 173px;
    left: 19px;
    top: -13px;

    border-radius: 50%;
    border: 15px solid $pink;

    font-family: 'Open Sans Bold', 'Arial', sans-serif;
    font-size: 96px;
    line-height: 170px;
    color: $pink;
    text-align: center;
  }

  @media ($desktop-width) {
    left: 19px;
    top: -34px;
    width: 221px;
    height: 221px;

    font-size: 120px;
    line-height: 200px;
    border: 19px solid $pink;
  }
}

.effect__heading {
  font-family: 'Open Sans Bold','Arial', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.effect__description {
  font-family: 'Open Sans','Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  @media ($desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  color: $pink;
}
