.footer-map {
  min-height: 200px;
  background-image: url(../../img/bg-map-mobile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;

  @media ($tablet-width) {
    min-height: 378px;
    background: url(../../img/bg-map-tablet.jpg);
  }

  @media ($desktop-width) {
    min-height: 503px;
    background: url(../../img/bg-map-desktop.jpg);
  }
}
