.main-nav {
  position: relative;
  float: right;
  width: 100%;

  @media ($desktop-width) {
    width: auto;
  }
}


.main-nav__wrapper--closed {
  display: none;
}
.main-nav__wrapper {
  @media ($desktop-width) {
    position: static;
    display: block;
    background-color: transparent;
    width: auto;
    padding-top: 0;
  }
}
.main-nav__wrapper--opened{
  position: relative;
  top: -72px;
  width: 100%;
  z-index: 9;

  padding-top: 78px;
  background-color: #283645;

  @media ($tablet-width) {
    top: -109px;
    left: -10%;
    padding-top: 108px;
    width: 120%;
  }

  @media ($desktop-width) {
    top: 0;
    position: static;
    width: auto;
    padding-top: 0;
    background-color: transparent;
  }
}

.main-nav__wrapper--opened::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 20px;

  width: 76px;
  height: 24px;

  background: url(../../img/logo-pink-white-mobile.svg) no-repeat;

  @media ($tablet-width) {
    left: 10.5%;
    width: 150px;
    height: 42px;
    background: url(../../img/logo-pink-white-mobile.svg) no-repeat;
  }

  @media ($desktop-width) {
    content: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 20px;
  z-index: 10;

  display: block;
  width: 50px;
  height: 25px;

  font-size: 0;
  cursor: pointer;
  background: url(../../img/icon-menu-burger.svg) no-repeat;

  @media ($tablet-width) {
    top: -72px;
  }

  @media ($desktop-width) {
    display: none;
  }
}

.main-nav__toggle--opened {
  right: 20px;
  width: 27px;
  height: 27px;
  background-image: url(../../img/icon-menu-cross.svg);
  background-repeat: no-repeat;

  @media ($tablet-width) {
    top: -72px;
  }
}

.main-nav__items {
  @include no-list;

  @media ($desktop-width) {
    display: flex;
  }
}

.main-nav__item {
  padding: 23px;

  font-family: 'Open Sans','Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;

  box-shadow: inset 0 2px 0 0 #000101,
  inset 0 4px 0 0 #485461;

  @media ($desktop-width) {
    border: none;
    box-shadow: none;
    line-height: 18px;
  }
}

.main-nav_item:last-child {
  border-bottom: 2px solid #000101;
  @media ($desktop-width) {
    border: none;
  }
}
.main-nav__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;

  @media ($desktop-width) {
    text-transform: capitalize;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover {
    color: $pink;

    @media ($desktop-width) {
      color: white;
    }
  }

  &:hover::after {
    @media ($desktop-width) {
      content: '';
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid white;
    }
  }
}
