.photos-item {
  display: block;
  margin: 0 20px;
  margin-bottom: 20px;

  font-size: 0;
  line-height: 0;

  background-color: $light-grey;

  @media ($tablet-width) {
    min-height: 455px;
    margin: 0;
    margin-bottom: 20px;
    flex-basis: 48.4%;
  }

  @media ($desktop-width) {
    min-height: 555px;
    flex-basis: 32%;
  }
}

.photos-item__panorama {

  width: auto;
  min-width: 320px;
  margin-bottom: 20px;
  margin-right: 0;
  font-size: 0;
  line-height: 0;

  @media ($tablet-width) {
    display: block;
    width: auto;
  }
  @media ($desktop-width) {
    display: block;
    width: auto;
  }
}


.photos-item__panorama-wrapper {
  @include container-fluid;
  @include clearfix;
  position: relative;
  top: 38px;
  margin-top: -38px;

  @media ($tablet-width) {
    top: 98px;
    margin-top: -98px;
  }
}

.photos-item__best {
  display: block;
  float: right;
  padding: 7px 20px;
  top: 0;
  right: 20px;

  background-color: $pink;
  color: white;
  font-family: 'Open Sans Bold', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
}


.photos-item__photo {
  width: 100%;
  height: auto;

  @media ($tablet-width) {
    width: 100%;
    height: auto;
  }
}

.photos-item__photo--panorama {
  width: auto;
  height: auto;
  margin: 0;

  @media ($tablet-width) {
    display: block;
  }
}

.photos-item__image {
  width: 100%;
  height: auto;
}

.photos-item__author {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Open Sans Bold','Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  @media ($tablet-width) {
    order: 0;
  }
}

.photos-item__time {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans Light','Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  @media ($tablet-width) {
    order: 1;
  }
}

.photos-item__time::before {
  position: absolute;
  content: '(';
  top: 0;
  left: -5px;
}

.photos-item__time::after {
  position: absolute;
  content: ')';
  top: 0;
  right: -5px;
}

.photos-item__comment {
  font-family: 'Open Sans','Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  @media ($tablet-width) {
    order: 3;
    min-height: 60px;
  }
}

.photos-item__likes {
  position: relative;
  margin-left: 32px;

  font-family: 'Open Sans','Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;

  @media ($tablet-width) {
    order: 2;
    margin-left: auto;
    margin-top: 20px;
  }
}

.photos-item__likes::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 13px;
  top: 5px;
  left: -32px;

  background-image: url(../../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet-width){
    left: 95%;
  }
}
.photos-item__likes--panorama {
  margin-top: 0;
  margin-right: 60px;
}

.photos-item__likes--panorama::before {

  @media ($tablet-width){
    left: 100px;
  }
}

.photos-item__description {
  @include no-list;
  background-color: $light-grey;
  padding: 15px 25px;

  @media ($tablet-width) {
    padding: 25px 30px;
  }
}

.photos-item__description--panorama {
  @media ($tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
